# Python
__pycache__/
*.py[codz]
*.egg-info/
*.egg
build/
dist/

# Virtual environments
.venv/
.env

# Tools
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

# Logs
logs/

# SQLite
instance/
